md-toolbar {
	background-color: #e23237;
	line-height: 64px;
	h4 {
		font-weight: normal;
		color: white;
	}
	.logo {
		margin-right: 10px;
		margin-left: 4px;
		width: 42px;
		height: 42px;
		top: -1px;
	}
	.toolbar-filler {
		flex: 1 1 auto;
	}
	.user-actions {
		img, span, button {
			vertical-align: middle;
		}
		span, button {
			margin-left: 5px;
		}
		span {
			color: white;
			font-size: 16px;
		}
		img {
			border-radius: 50%;
			width: 32px;
			height: 32px;
		}
	}
}
