<md-toolbar>
  <img class="logo" src="https://www.gstatic.com/mobilesdk/160503_mobilesdk/logo/2x/firebase_28dp.png">
  <h4>Angular Firebase Chat</h4>
  <span class="toolbar-filler"></span>
  <button *ngIf="!auth" md-raised-button (click)="login()">LOGIN</button>
  <ul *ngIf="auth" class="user-actions">
    <img src="{{auth.avatar}}">
    <span>{{auth.name}}</span>
    <button md-raised-button (click)="logout()">LOGOUT</button>
  </ul>
</md-toolbar>

<div class="chat-panel">
  <h3>Bienvenid@ al chat de los Reyes Magos. Antes de que puedas enviarnos tu carta,
    te haremos unas preguntas para ver qué tal te has portado</h3>
  <div class="messages-panel">
    <app-message [ngClass]="{'self': message.displayName == auth.name}"
                 *ngFor="let message of messages"
                 [message]="message">
    </app-message>
  </div>
  <div class="input-panel">
    <md-input placeholder="Escribe tu mensaje" (keyup.enter)="sendMessage(messageInput)" #messageInput></md-input>
  </div>
</div>