md-toolbar {
	background-color: #e23237;
	line-height: 64px;
	h4 {
		font-weight: normal;
		color: white;
	}
	.logo {
		margin-right: 10px;
		margin-left: 4px;
		width: 42px;
		height: 42px;
		top: -1px;
	}
	.toolbar-filler {
		flex: 1 1 auto;
	}
	.user-actions {
		img, span, button {
			vertical-align: middle;
		}
		span, button {
			margin-left: 5px;
		}
		span {
			color: white;
			font-size: 16px;
		}
		img {
			border-radius: 50%;
			width: 32px;
			height: 32px;
		}
	}
}

.chat-panel {
	position: relative;
	padding: 32px;
	height: calc(100vh - 64px - 60px);
	width: 800px;
	background-color: #eee;
	margin: 30px auto 0 auto;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
	.input-panel {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 15px;
		md-input, button {
			display: inline-block;
			vertical-align: middle;
		}
		md-input {
			width: 100%;
		}
	}
}